<% provide(:title, "About") %>
<h1>About</h1>
<p>Are you a busybody who likes to talk about other people behind their backs? Do you not have enough to do at your desk job and desperately need a social outlet you can use while you're pretending to be busy? Want the added benefit of generating rumors anonymously?</p>

<p> <strong>Then Gossiper is for you.</strong> </p>

<p>Gossiper is an exclusive community. Members are more than welcome to make posts about anyone or anything they like. Visitors can see the posts but not the post author's. As a member, you have full privileges to see what others have written. It's HR's worst nightmare.</p>

<hr>

<p>This project was designed as part of The Odin Project's Ruby on Rails course for its <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication">"Project: Authentication"</a> lesson. This project is primarily intended to demonstrate proficiency with cookies, sessions, flashes, secure authentication, and controller filters.</p>

<p>Written by <a href="https://github.com/Gageperrin?tab=repositories">N.G. Perrin</a>. Repository can be found <a href="https://github.com/Gageperrin/members-only">here</a>. Refactoring and optimization feedback are welcome.</p>
