<% provide(:title, "Home") %>
<% provide(:posts, Post.all)%>
<h1>Gossiper</h1>
<% if logged_in? %>
  <p>Welcome, <%= current_user.name %>!</p>
  <div class="row">
    <aside class="col-md-4">
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
  </div>
<% else %>
<p><strong> You are a visitor. You can currently see posts, but you need to <a href="/login">login</a> to see who wrote them.</strong></p>
<% end %>

<br>

  <h2>Juicy Tidbits</h2>
  <%= render 'posts/posts' %>
